<html ng-app="FirstNodeJs">
<head>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>FirstNodeJs</title>

</head>
<body>
<script src="../js/angular/angular.js"></script>
<script src="../js/angular/angular-resource.js"></script>
<script src="../js/angular/angular-route.js"></script>
<script src="../js/angular/angular-ui-router.min.js"></script>
<script src="../app/app.js"></script>
<div ui-view></div>
<script src="../app/controllers/LoginController.js"></script>
</body>
</html>