<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h2 style="color:#4e4e4e;">Forgot Password</h2>
            <p style="color:red;">{{errormessage}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1">
            <div class="form-login">
                <form class="login-form" name="regForm" >
                    <div class="row">
                        <div class="col-lg-11">
                             
                           <div class="form-group" ng-class="{ 'has-error' : regForm.email.$invalid }">
                            <input type="email" placeholder="Email ID"  name="email" ng-model="user.email" />
                             <p class="help-block" ng-show="regForm.$dirty && regForm.email.$error.required">Please enter email id</p>
                             <p class="help-block" ng-show="regForm.$dirty && regForm.email.$invalid">Enter a valid email id </p>
                             </div>

                            <div class="form-group" ng-class="{ 'has-error' : regForm.mobno.$invalid }">
                            <input type="text" placeholder="Mobile Number" name="mobno" ng-model="user.mobno"  ng-minlength="10" ng-maxlength="10" />
                             <p class="help-block" ng-show="regForm.$dirty &&(regForm.mobno.$error.required || regForm.mobno.$error.number)">Please enter a valid mobile number.</p>
                             <p class="help-block" ng-show="(regForm.mobno.$error.minlength || regForm.mobno.$error.maxlength) && regForm.mobno.$dirty">Mobile No should be min of 10 digits</p>

                             </div>
                            <br>
                             <button  ng-disabled="!user.email || !user.mobno" ng-click="forgotPassword()">ForgotPassword</button>
                        </div>
                         
                             
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>