<div class="row myRequests-section">
    <div class="col-lg-3">
        <h3>Search Requests</h3>
        <div class="well">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search by title" />
                    </div>
                    <div class="form-group">
                        <select class="form-control">
                            <option>Select Category</option>
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="mercedes">Mercedes</option>
                            <option value="audi">Audi</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control">
                            <option>Select Department</option>
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="mercedes">Mercedes</option>
                            <option value="audi">Audi</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <h4 style="font-weight: normal;">Priority</h4>
                        <label class="myRequests-label">
                            <input type="checkbox">&nbsp;&nbsp;High
                        </label>
                        <label class="myRequests-label">
                            <input type="checkbox">&nbsp;&nbsp;Medium
                        </label>
                        <label class="myRequests-label">
                            <input type="checkbox">&nbsp;&nbsp;Low
                        </label>
                    </div>
                    <div class="form-group">
                        <h4 style="font-weight: normal;">Status</h4>
                        <div class="checkbox">
                            <label class="myRequests-label">
                                <input type="checkbox">&nbsp;&nbsp;Open
                            </label>
                        </div>
                        <div class="checkbox">
                            <label class="myRequests-label">
                                <input type="checkbox">&nbsp;&nbsp;Assigned
                            </label>
                        </div>
                        <div class="checkbox">
                            <label class="myRequests-label">
                                <input type="checkbox">&nbsp;&nbsp;In Progress
                            </label>
                        </div>
                        <div class="checkbox">
                            <label class="myRequests-label">
                                <input type="checkbox">&nbsp;&nbsp;Hold
                            </label>
                        </div>
                        <div class="checkbox">
                            <label class="myRequests-label">
                                <input type="checkbox">&nbsp;&nbsp;Resolved
                            </label>
                        </div>
                        <div class="checkbox">
                            <label class="myRequests-label">
                                <input type="checkbox">&nbsp;&nbsp;Re Open
                            </label>
                        </div>
                        <div class="checkbox">
                            <label class="myRequests-label">
                                <input type="checkbox">&nbsp;&nbsp;Closed
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <button class="btn btn-default btn-block">Reset</button>
                            </div>
                            <div class="col-lg-6">
                                <button class="btn btn-request btn-block">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <h3>Other Requests</h3>
        <div class="row request-list-tile">
            <div class="col-lg-3" style="padding-left: 0px;">
                <img alt="Request Image" src="app/myRequestImages/roads.PNG" style="min-height: 180px;" class="img-responsive" />
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-3">
                        <a href="" ui-sref="dashboard.viewotherrequest" title="click here to view in detail"><h3>Road damage</h3></a>
                    </div>
                    <div class="col-lg-9">
                        <button style="margin-top: 14px;" class="btn btn-default pull-right"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;Likes&nbsp;&nbsp;({{34}})</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p>{{'Lorem ipsum'}}&nbsp;&nbsp;/&nbsp;&nbsp;{{'Lorem ipsum'}}&nbsp;&nbsp;/&nbsp;&nbsp;{{'Lorem ipsum'}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt ullamcorper sem, non condimentum purus scelerisque eu. Sed non metus et lorem mollis euismod.</p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-12">
                        <label class="myRequests-label"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;Location</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row request-list-tile">
            <div class="col-lg-3" style="padding-left: 0px">
                <img alt="Request Image" src="app/myRequestImages/roads.PNG" style="min-height: 180px;" class="img-responsive" />
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-3">
                        <a href="" ui-sref="dashboard.viewotherrequest" title="click here to view in detail"><h3>Road damage</h3></a>
                    </div>
                    <div class="col-lg-9">
                        <button style="margin-top: 14px;" class="btn btn-default pull-right"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;Likes&nbsp;&nbsp;({{34}})</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p>{{'Lorem ipsum'}}&nbsp;&nbsp;/&nbsp;&nbsp;{{'Lorem ipsum'}}&nbsp;&nbsp;/&nbsp;&nbsp;{{'Lorem ipsum'}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt ullamcorper sem, non condimentum purus scelerisque eu. Sed non metus et lorem mollis euismod.</p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-12">
                        <label class="myRequests-label"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;Location</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row request-list-tile">
            <div class="col-lg-3" style="padding-left: 0px">
                <img alt="Request Image" src="app/myRequestImages/roads.PNG" style="min-height: 180px;" class="img-responsive" />
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-3">
                        <a href="" ui-sref="dashboard.viewotherrequest" title="click here to view in detail"><h3>Road damage</h3></a>
                    </div>
                    <div class="col-lg-9">
                        <button style="margin-top: 14px;" class="btn btn-default pull-right"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;Likes&nbsp;&nbsp;({{34}})</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p>{{'Lorem ipsum'}}&nbsp;&nbsp;/&nbsp;&nbsp;{{'Lorem ipsum'}}&nbsp;&nbsp;/&nbsp;&nbsp;{{'Lorem ipsum'}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt ullamcorper sem, non condimentum purus scelerisque eu. Sed non metus et lorem mollis euismod.</p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-12">
                        <label class="myRequests-label"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;Location</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
