<div class="container">
<div ng-repeat="top in requestdetails">
    <div class="row">
        <div class="col-lg-3">
            <a style="display: inline-block; margin-top: 18px;font-size: 16px;color:#666;" title="click here to back to My requests" ui-sref="dashboard.myrequests"><span style="font-size: 18px;">&lt;</span>&nbsp;My Requests</a>
        </div>
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-2">
                    <h3>{{top.request_title}}</h3>
                </div>
                <div class="col-lg-6">
                    <p style="margin-top: 23px;font-size: 12px;color:#999;">{{top.priority_name}}&nbsp;&nbsp;/&nbsp;&nbsp;{{top.status_desc}}&nbsp;&nbsp;/&nbsp;&nbsp;{{top.location}}</p>
                </div>
                <div class="col-lg-4">
                    <button ng-click="myvotes(top)" style="margin-top: 14px;" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;Likes&nbsp;&nbsp;({{top.votes}})</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="well">
                <div class="row ">
                    <div class="col-lg-12">
                        <div class="row form-group" style="text-align: center">
                            <div class="col-lg-6 col-lg-offset-3">
                                <img style="min-height: 100px;" class="img-responsive img-circle" src="images/testimonials1.png">
                                <h2 style="font-weight: normal;">{{top.first_name}}</h2>
                                <div style="margin-top: -13px;color: #999; display:none" >location</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h5 style="font-weight: normal;">Created on :{{top.created_date}}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h5 style="font-weight: normal;">Status :</h5> 
                                <select class="form-control">
                                    <option>Select status</option>
                                    <option value="volvo">Open</option>
                                    <option value="saab">Assigned</option>
                                    <option value="mercedes">In Progress</option>
                                    <option value="mercedes">Hold</option>
                                    <option value="mercedes">Resolved</option>
                                    <option value="mercedes">Reopened</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="">
                                    <h5 style="font-weight: normal;">Priority :</h5>
                                        <select class="form-control">
                                            <option>Select Department</option>
                                            <option value="volvo">Low</option>
                                            <option value="saab">Medium</option>
                                            <option value="mercedes">High</option>
                                        </select>   
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-12">
                                <button class="btn btn-primary">Update</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="">
                                    <h5 style="font-weight: normal;">Assigned To :  {{top.assignedfname}} {{top.assignedlname}}</h5>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="row" style="display:none">
                            <div class="col-lg-12">
                                <div class="">
                                    <h5 style="font-weight: normal;">Government Employee</h5>
                                    <input type="text" class="form-control" placeholder="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <hr/>
                                <h3 style="font-weight: normal;margin-top: 20px;">History Of Request</h3>
                            </div>
                        </div>
                        <div class="row" ng-repeat="his in requesthistory">
                            <div class="col-lg-6">
                                <h5 style="font-weight: normal;color:#999;">{{his.created_date}}</h5>
                            </div>
                            <div class="col-lg-6">
                                <h5 style="font-weight: normal;color:#999;">{{his.status_name}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-3">
                    <h3 style="margin-top: 0px;">Selected Category</h3>
                </div>
                <div class="col-lg-9">
                    <h3 style="color:#d43f3a; margin-top: 0px;">{{top.request_category_name}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3 style="margin-top: 0px;">Photos</h3>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-6">
                    <img style="min-width: 400px;" src="app/myRequestImages/roads.PNG" class="img-responsive">
                </div>
                <div class="col-lg-6">
                    <img style="min-width: 400px;" src="app/myRequestImages/roads.PNG" class="img-responsive">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-12">
                    <h3 style="margin-top: 0px;">Description</h3>
                    <div style="border:1px solid #ccc;padding: 10px;min-height: 100px;">
                        <p>{{top.request_description}}</p>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-12">
                    <h3 style="margin-top: 0px;">Mood</h3>
                    <div style="border:1px solid #ccc;padding: 10px;min-height: 100px;">
                        <div class="row">
                            <div class="col-lg-4">
                                <img src="images/sadinactive.png" style="margin-left: 88px;height: 80px; margin-bottom:5px;cursor:pointer;" alt="Sad" class="img-responsive img-circle" ng-click="chooseMood('1')">
                                <div style="text-align:center">{{moodperrequest.sadcount}}% Sad</div>
                            </div>
                            <div class="col-lg-4">
                                <img src="images/angryinactive.png" style="margin-left: 86px;height: 80px; margin-bottom:5px;background-color:#f3785f;cursor:pointer;" alt="Angry" class="img-responsive img-circle" ng-click="chooseMood('2')">
                                <div style="text-align:center;color:red;">{{moodperrequest.angrycount}}% Angry</div>
                            </div>
                            <div class="col-lg-4">
                                <img src="images/happyinactive.png" style="margin-left: 86px;height: 80px;margin-bottom:5px;cursor:pointer;" alt="Happy" class="img-responsive img-circle" ng-click="chooseMood('3')">
                                <div style="text-align:center;color:green;">{{moodperrequest.happycount}}% Happy</div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>  

            <div class="row">
                <div class="col-lg-4">
                    <h3 style="margin-top: 0px;">Comments</h3>
                </div>
                <div class="col-lg-8">
                    <h3 class="pull-right" data-toggle="collapse" data-target="#comment" style="margin-top: 0px;color:#d43f3a;cursor:pointer;">+ Add Comment</h3>
                </div>
                <div class="col-lg-12">
                     <div class="collapse form-group" id="comment">
                        <textarea class="form-control" rows="4" cols="50" placeholder="Enter comments"></textarea>
                        <button class="btn btn-primary">post comment</button>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-12">
                    <div ng-if="requestcomments.length > 0" style="border:1px solid #ccc;padding: 10px;max-height: 388px; overflow-y:auto;overflow-x:hidden;">
                        <div class="row" ng-repeat="comm in requestcomments">
                            <div class="col-lg-2">
                                <img style=" border: 4px solid #ccc;margin-left: 10px;margin-top: 10px;min-height: 80px;" class="img-responsive img-circle" src="images/testimonials1.png">
                            </div>
                            <div class="col-lg-9">
                                <div class="well" style="margin-top: 10px;">
                                    <h3 style="margin-top: 0px;">Sai Krishna</h3>
                                    <p style="font-size: 12px;color: #999;font-style: italic;">Monday, Apr 18,2016</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt ullamcorper sem, non condimentum purus scelerisque eu. Sed non metus et lorem mollis euismod.</p>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div ng-if="requestcomments.length == 0" style="border:1px solid #ccc;padding: 10px;min-height: 100px;text-align:center;">
                        <h2>No Comments to Show</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
